.single-secret-layout {
  height: inherit;
  background-color: #333333;
}

.main-row-layout {
  background-color: black;
  width: 99vw;
}

.post-text {
  background-color: #333333;
  color: white;
  height: 94vh;
}

.post-date {
  color: rgba(255, 255, 255, 0.466);
  font-size: 12px;
  font-style: italic;
}

hr {
  background-color: white;
}

.single-comment {
  
  border-bottom: rgba(245, 245, 245, 0.178) solid 1px;
}

.secret-single-image {
  height: 80vh;
}

.secret-single-image-div {
  height: 94vh;
}

.edit-btn:hover {
  color: red;
}

.comments-container {
  max-height: 56vh; /* Set the maximum height of the container */
  overflow-y: auto; /* Enable vertical scrolling */
  border-top: rgba(245, 245, 245, 0.178) solid 1px;
  
}

.comment-row {
  width: 99%;
}

.secret-single-location{
  font-style: italic;
  font-size: 14px;
  color:rgba(240, 248, 255, 0.76)
}