body {
  font-family: "Josefin Sans", sans-serif;
  cursor: url(/public/assets/cursor3.png), auto;
}

.font-p {
  font-family: "Josefin Sans", sans-serif;
}

.font-s {
  font-family: "Permanent Marker", cursive;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

#main-jumbotron {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url(https://images.unsplash.com/photo-1548705085-101177834f47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 90vh;
}

.logo-img {
  width: 10vw;
}

.jumbotron-title {
  color: black;
}

.jumbotron-title > h1 {
  font-size: 70px;
}

.jumbotron-title > p {
  font-size: 40px;
}

.secret-link {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.5);
}

.secret-link:hover {
  color: white;
}

.logout {
  color: rgba(255, 19, 19, 0.911);
  border: solid 1px rgba(0, 0, 0, 0);
}

.logout:hover {
  color: red;
  border-bottom: solid 1px red;
  border-color: red;
}

.content-card {
  position: relative;
  color: white;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  border-radius: 10px;
}

.content-card:hover .background-overlay {
  filter: brightness(70%); /* Adjust the brightness value as desired */
}

.content-card:hover {
  box-shadow: 0 0 10px rgb(61, 61, 61);
  transform: scale(1.1);
}

.content-card-text > h3 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}
