.single-trip-layout {
  height: inherit;
  background-color: black;
}

.main-row-layout {
  background-color: black;
  width: 99vw;
}

.post-text {
  background-color: #333333;
  color: white;
  height: 94vh;
}

.post-date {
  color: rgba(255, 255, 255, 0.466);
  font-size: 12px;
  font-style: italic;
}

hr {
  background-color: white;
}

.single-comment {
  border-bottom: rgba(245, 245, 245, 0.178) solid 1px;
}

.trip-single-div {
  height: 94vh;
  color: aliceblue;
}

.chat-history{
  max-height: 72vh;
  overflow-y: auto; /* Enable vertical scrolling */
  border-bottom: solid 1px rgba(240, 248, 255, 0.199);
  border-top: solid 1px rgba(240, 248, 255, 0.199)

}
